@model ASP_HW_2.Models.ViewModels.EditUsersViewModel

<body class="bg-secondary">
    <div class="d-flex justify-content-center">
        <a class="btn btn-light m-2" asp-controller="Admin" asp-action="AddUser">Add new user</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center text-light">Email</th>
                <th class="text-center text-light">Role</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in Model.Users)
            {
                <tr>
                    <td class="text-light">@user.Email</td>
                    <td>

                        @using (Html.BeginForm())
                        {

                            @Html.Hidden("UserId", user.UserId)
                            @Html.Hidden("Email", user.Email)

                            <select id="role" name="roleId" class="w-50">
                                @foreach (var item in Model.Roles)
                                {

                                    @if (item.Name == user.RoleName)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }

                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>

                            <input type="submit" value="Edit" name="EditUserRole" formaction="EditUserRole" formmethod="post" class="btn btn-light" />
                            <input type="submit" value="Delete" name="DeleteUser" formaction="DeleteUser" formmethod="post" class="btn btn-light" />
                        }
                    </td>

                </tr>
            }

        </tbody>
    </table>

</body>




