@model ASP_HW_2.Models.Order

<body class="bg-secondary">
    <div class="text-danger d-flex justify-content-center order-header" style="font-size:2rem">
        Your order:
    </div>
    <div class="d-flex justify-content-around">
        <div class="w-50 bg-white border border-danger rounded d-flex flex-column justify-content-between">
            <form id="order" method="post" class="d-flex flex-column">
                <input type="hidden" value="@ViewBag.Bicycle.BicycleId" name="BicycleId" />
                <div class="form-group d-flex justify-content-between flex-column p-3 mt-3">

                    <div class="d-flex justify-content-between inputs-container">
                        @Html.LabelFor(x => x.UserName)
                        @Html.TextBoxFor(x => x.UserName, new { @class = "w-75" })

                    </div>
                        @Html.ValidationMessageFor(x => x.UserName)
                   
                </div>
                <div class="form-group d-flex justify-content-between flex-column px-3 w-100">

                    <div class="d-flex justify-content-between inputs-container">
                        @Html.LabelFor(x => x.Address)
                        @Html.TextBoxFor(x => x.Address, new { @class = "w-75" })
                    </div>
                        @Html.ValidationMessageFor(x => x.Address)
                  
                </div>
                <div class="form-group d-flex justify-content-between flex-column px-3">

                    <div class="d-flex justify-content-between inputs-container">
                        @Html.LabelFor(x => x.ContactPhone)
                        @Html.TextBoxFor(x => x.ContactPhone, new { @class = "w-75" })
                    </div>
                        @Html.ValidationMessageFor(x => x.ContactPhone)
                       
                </div>
</form>
        </div>
        <div class="w-25 bg-white p-4 border border-danger rounded">
            <img class="w-100 " src="@ViewBag.Bicycle.ImageUrl" />
            <div class="d-flex mt-2 justify-content-between">
                <div>Model:</div>
                <div>@ViewBag.Bicycle.Model</div>
            </div>
            <div class="d-flex justify-content-between">
                <div>Price to pay:</div>
                <div class="d-flex flex-nowrap">@ViewBag.Bicycle.Price $</div>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center mt-3">
        <button form="order" id="btnSubmit" type="submit" class="w-50 btn btn-light">Confirm</button>
    </div>
</body>

