@model ASP_HW_2.Models.ViewModels.CartIndexViewModel

<body class="bg-secondary">
    @foreach (var line in Model.Cart.GetAllLines)
    {
        <div class="d-flex border border-danger rounded mb-2 p-3 align-items-center bg-white bicycle-container">
            <div class="w-50  bicycle-small">
                <img class="w-100 p-4" src="@line.Bicycle.ImageUrl" />
            </div>
            <div class="w-50 d-flex flex-column align-items-center  bicycle-small">
                <div class="bg-dark text-light w-100 text-center rounded border mb-2">Info</div>
                <div class="d-flex justify-content-between w-75">
                    <div>Popularity:</div>
                    <div class="d-flex justify-content-end">
                        @if (line.Bicycle.Popularity == ASP_HW_2.Models.Popularity.one)
                        {
                            <img class="popularity-star" src="https://clipart-best.com/img/star/star-clip-art-38.png" />
                        }
                        @if (line.Bicycle.Popularity == ASP_HW_2.Models.Popularity.two)
                        {
                            @for (int i = 0; i < 2; i++)
                            {
                                <img class="popularity-star" src="https://clipart-best.com/img/star/star-clip-art-38.png" />
                            }
                        }
                        @if (line.Bicycle.Popularity == ASP_HW_2.Models.Popularity.three)
                        {
                            @for (int i = 0; i < 3; i++)
                            {
                                <img class="popularity-star" src="https://clipart-best.com/img/star/star-clip-art-38.png" />
                            }
                        }
                        @if (line.Bicycle.Popularity == ASP_HW_2.Models.Popularity.four)
                        {
                            @for (int i = 0; i < 4; i++)
                            {
                                <img class="popularity-star" src="https://clipart-best.com/img/star/star-clip-art-38.png" />
                            }
                        }
                        @if (line.Bicycle.Popularity == ASP_HW_2.Models.Popularity.five)
                        {
                            @for (int i = 0; i < 5; i++)
                            {
                                <img class="popularity-star" src="https://clipart-best.com/img/star/star-clip-art-38.png" />
                            }
                        }

                    </div>
                </div>
                <div class="d-flex justify-content-between w-75">
                    <div>Model:</div>
                    <div>@line.Bicycle.Model</div>
                </div>
                <div class="d-flex justify-content-between w-75">
                    <div>Price:</div>
                    <div>@line.Bicycle.Price $</div>
                </div>
                <div class="bg-dark text-light w-100 text-center rounded border my-2">Details</div>
                <div class="d-flex justify-content-between w-75">
                    <div>Company:</div>
                    <div>@line.Bicycle.Company</div>
                </div>
                <div class="d-flex justify-content-between w-75">
                    <div>Year:</div>
                    <div>@line.Bicycle.Year</div>
                </div>
                <div class="d-flex justify-content-between w-75 pb-2">
                    <div>Country:</div>
                    <div>@line.Bicycle.Country</div>
                </div>
                <div class="w-100 d-flex justify-content-between mt-2 border rounded p-1 bg-dark text-light">
                    <div>Number of goods:</div>
                    <div>@line.Number</div>
                </div>
                <div class="w-100 d-flex justify-content-between mt-2 border rounded p-1 bg-dark text-light">
                    <div>Price of goods:</div>
                    <div>@(line.Number * line.Bicycle.Price)</div>
                </div>
                <div class="w-100">
                    @using (Html.BeginForm("RemoveFromCart", "Cart", new { bicycleId = line.Bicycle.BicycleId, returnUrl = Context.Request.Path }, FormMethod.Post, null, new { @class = "w-100" }))
                    {
                        <input type="submit" value="Delete" class="btn btn-secondary w-100 mt-1" />
                    }
                </div>
            </div>
        </div>
    }

    @if(Model.Cart.GetAllLines.Count() > 0){
        <div class="w-100 border rounded d-flex justify-content-between bg-white p-2 border-danger">
            <div>Total sum to pay: </div>
            <div>@Model.Cart.GetTotalValue()</div>
        </div>
    }
    else { 
        <div class="text-light text-center">Nothing is in the cart</div>
    }

    <div class="d-flex justify-content-center w-100">
        <a href="@Model.ReturnUrl" class="btn btn-light mt-2 w-50">Continue shopping</a>
    </div>

</body>
